<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="connection.autocommit">true</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/stereoVision</property>
        <property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">1</property>
        <property name="hibernate.c3p0.timeout">600</property>

        <property name="connection.username">postgres</property>
        <property name="connection.password">2282</property>

        <mapping class="ru.mirea.database.schema.Settings"/>
    </session-factory>
</hibernate-configuration>